<template>
<div>
    <div class="container">
        <img src="../assets/logo.png" alt="logo" class="logo">
        <div class="menu">
            <ul class="listContainer">
                <router-link to="/">
                    <li class="list-item">Home</li>
                </router-link>
                <router-link to="contacto">
                    <li class="list-item">Contacto</li>
                </router-link>
                <li class="list-item">Categorías</li>
            </ul>
        </div>
    </div>    
</div>
</template>

<script>


</script>



<style>

    .container {
        background: dodgerblue;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .logo {
        width: 100px;
    }

    .listContainer {
        display: flex;
        flex-direction: row;
        gap: 35px;
        list-style: none;
        color: white;
        font-size: 24px;
    }

</style>

