<template>
    <div class="productContainer">
        <img :src="imagen" alt="producto" class="imagenPersonalizada">
        <div class="productTextContainer">
            <h1 class="productTitle">{{titulo}}</h1>
            <router-link :to="'/producto/'+id">
                <button class="productCTA" >Ver Producto</button>
            </router-link>
        </div>

    </div>
</template>

<script>

    export default  {
        props: ['titulo', 'id', 'imagen']
    }

</script>


<style>

    .imagenPersonalizada {
        max-width: 300px;
    }
    .productContainer {
        max-width: 300px;
        border: 1px solid black;
        padding: 10px;
    }

    .productTitle {
        font-size: 20px;
    }

    .productCTA {
        padding: 10px;
        background: greenyellow;
        width: 100%;
        max-width: 200px;
    }
</style>