<template>
    <div>
        <NavBar />
        <div class="catalogo">
            <div class="productoWrapper" v-for="(elemento, indice) in productos" :key="indice">
                <Producto :titulo="elemento.title"   :id="indice+1" :imagen="elemento.image"/>
            </div>
        </div>
    </div>
</template>

<script>
import Producto from '../components/Producto.vue'
export default {
    components: { Producto },
    data () {
        return {
            productos: []
        }
    },
    methods: {
        async obtenerProductos () {
            await fetch('https://fakestoreapi.com/products')
                .then(res=>res.json())
                .then(json=> this.productos = json)
                console.log(this.productos)
        }
    },
    mounted () {
        this.obtenerProductos()
    }
}

</script>

<style>
    .catalogo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
        flex-wrap: wrap;
        gap: 20px;
    }

    .productoWrapper {
        max-width: min-content;
    }
</style>